@import '../../styles/variables.scss';

.sub__block {
    min-width: 340px;
    height: calc(100vh - $headerHeightSize - 40px);
    padding:  0 20px 20px;

    .btn__sub__block {
        background-color: #1E1E1E;
        font-size: 0.8em;
        padding: 8px 16px;
        border: none;
        border-radius: 30px;
    }

    .btn__active {
        background-color: #3E3E3E;
    } 

    .user__avatar {
        border-radius: 90px;
    }

    .content {
        overflow: auto;
        padding-right: 12px;
    }
    
    .content::-webkit-scrollbar {
        width: 6px;
    }

    .content::-webkit-scrollbar-thumb {
        background-color: #39393D;
        border-radius: 4px;
    }
}

@media (max-width: 576px) {
    .sub__block {
        display: none !important;
    }
}