.avatarsBlockProfile {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.noAvatars {
    display: flex;
    justify-content: center;
    color: #777777;
    width: auto;
    margin-top: 120px;
}

@media (max-width: 576px) {
    .avatarsBlockProfile {
        margin: 0 0 80px;
    }

    .noAvatars {
        margin: 0;
        text-align: center;
    }
}