@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'sans-serif';
}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-thumb {
    background-color: #39393D;
    border-radius: 4px;
}

.logo {
    margin: 0 40px 0 40px; 
}

.btn__reset {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
}