@import '../../styles/variables.scss';

header {
    nav {
        display: flex;
        padding: 8px;

        .offcanvas {
            width: 65% !important;
        }
    }
}

@media (max-width: 576px) {
    nav {
        display: flex;
        justify-content: space-between;
    }
}