@import '../../styles/variables.scss';

main {
    display: flex;
    padding: 24px;
    min-height: calc(100vh - $headerHeightSize);

    .main__block {
        width: 100%;
        margin-left: 24px;
    }
}

@media (max-width: 576px) {
    main {
        .main__block {
            margin-left: 0;
        }
    }
}